*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    
}
button{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    display: flex;
    width: 90%;
    height: 10vh;
    margin: auto;
}

.logo-container,
.nav-links,
.cart {
    display: flex;
}
.logo-container{
    
    flex: 1;
}
.logo{
    font-weight: 400px;
    margin: 5px;
    
    

}
nav {
    
    flex: 2;

}

.cart {
    
   flex: 1;
   justify-content: flex-end;

}
.present{
    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;


}
.intro{
    flex: 1;
}
.intro-text h1{
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right,#494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.intro-text p{
    margin-top: 5px;
    font-size: 22px;
    color: #858773;


}
.cta{
    padding: 50px 0px 0px 0px;
}
.cta-select{
    border: 2px solid yellow;
    background: transparent;
    color: yellow;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;

}
.cta-add{
    background: yellow;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    border: none;
    color: white;
    margin-top: 30px;
    margin-left: 20px;

}
.cover{
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}
.cover img{
    height: 100%;
    
}


@media screen and (max-width:1024px){
    .present{
        flex-direction: column;
    }
    .intro{
        margin-top: 5vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }
    .intro-text p{
        font-size: 18px;
    }
    .cta {
        padding: 10px 0px 0px 0px;

    }
    .cover img{
        height: 80vh;
        margin-left: 20px;
    }
}

@media screen and (max-width:362px){
    nav{
        position: relative;
        margin-left: 70px;
        padding-left: 10px;
      
    }
    .cart{
        position: relative;
        margin-right: 30px;
        padding: 8px;
   
    }
    .cta-add{
        margin: 10px;
    }

}